<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Jarvis Automation Suite" parallel="methods" thread-count="2" verbose="1">

    <parameter name="environment" value="demo"/>
    <parameter name="browserName" value="chromium"/>
    <parameter name="country" value="sg"/>
    <parameter name="appLanguage" value="en"/>
    <parameter name="projectName" value="Cards"/>
    <parameter name="debugMode" value="false"/>

    <test name="Card API Tests">
        <groups>
            <run>
                <include name="regression"/>
                <include name="apiCases"/>
            </run>
        </groups>
        <classes>
            <class name="automation.tests.cards.CardApiTest"/>
        </classes>
    </test>

    <test name="Card Web Tests">
        <groups>
            <run>
                <include name="regression"/>
                <include name="webCases"/>
            </run>
        </groups>
        <classes>
            <class name="automation.tests.cards.CardWebTest"/>
        </classes>
    </test>

</suite>
